# Input files
	# MatEx configuration file
	-matexConfig	/home/santiago/Documentos/Saturn/sniper/hotspot.config

	# Initial temperatures file
	#-initTempFile	NULL


# Output files
	# Configuration dump file
	#-dumpConf	NULL

	# Floorplan file
	-floorplan	/home/santiago/Documentos/Saturn/sniper/multicore_homogeneous.flp

	# Eigen data file in. If this is given, then instead of reading the floorplan, the RC thermal network information is read from this file
	#-eigen_in	/home/santiago/Documentos/Saturn/sniper/multicore_homogeneous_eigendata.bin

	# Eigen data file out. If this is given, then the RC thermal network information is saved in this file, so that it can later be read, speeding-up the initialization of the framework
	#-eigen_out	/home/santiago/Documentos/Saturn/sniper/multicore_homogeneous_eigendata.bin

	# Schedule trace: File with the schedule traces on every block, that is, the application ID executed on every block at a given time
	-scheduleOut	/home/santiago/Documentos/Saturn/sniper/scheduleOutput.strace

	# Frequency trace: File with the frequency traces on every block
	-frequencyOut	/home/santiago/Documentos/Saturn/sniper/frequencyOutput.ftrace

	# Power trace: File with the power consumption traces on every block
	-powerOut	/home/santiago/Documentos/Saturn/sniper/powerOutput.ptrace

	# Energy trace: File with the energy consumption traces on every block
	-energyOut	/home/santiago/Documentos/Saturn/sniper/energyOutput.etrace

	# Accumulated energy trace: File with the accumulated energy consumption traces on every block
	-accEnergyOut	/home/santiago/Documentos/Saturn/sniper/accumulatedEnergyOutput.etrace

	# IPS trace: File with the Instructions Per Second (IPS) traces on every core
	-ipsOut	/home/santiago/Documentos/Saturn/sniper/ipsOutput.ipstrace

	# IPC trace: File with the Instructions Per Cycle (IPC) traces on every core
	-ipcOut	/home/santiago/Documentos/Saturn/sniper/ipcOutput.ipctrace

	# Application execution time trace: File with the total execution time of every application
	-throughputOut	/home/santiago/Documentos/Saturn/sniper/throughputOutput.throughput

	# Instruction trace: File with the instructions traces on every core
	-instOut	/home/santiago/Documentos/Saturn/sniper/instructionsOutput.itrace

	# Instruction trace: File with the accumulated instructions traces on every core
	-accInstOut	/home/santiago/Documentos/Saturn/sniper/accumulatedInstructionsOutput.itrace

	# Temperature trace: File with the temperature traces on every block
	-tempOut	/home/santiago/Documentos/Saturn/sniper/temperatureOutput.ttrace

	# Maximum temperature trace: File with the traces with the maximum temperatures among all blocks
	-maxTempOut	/home/santiago/Documentos/Saturn/sniper/maximumTemperatureOutput.mttrace


# Configuration variables
	# Indicates whether there is an application executing as scheduler. If there is, then this application should not be counted to end Sniper as it does not stop
	-schedulerAppRunning	0

	# Indicates the scheduling algorithm to use (0, 1, 2, ..., N)
	-schedulingAlgorithm	0

	# Indicates how any cores are inside each voltage island
	-coresPerIsland	4

	# Indicates whether DTM is enabled or not
	-dtmEnabled	0

	# Ambient temperature [°C]
	-t_amb		45

	# Temperature for triggering Dynamic Thermal Management (DTM) [°C]
	-t_dtm		60

	# Initial temperatures [°C]
	-t_init		60

	# Maximium power constraint [W]
	-p_max		250

	# Sampling interval for the output traces (in ns)
	-samplingInterval	1000000

